### Import libraries

In [8]:
import os
import pandas as pd

### merging sales data

In [34]:
frames = []
directory = "Sales_Data"
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f) and f[-3:] == "csv":
            tempdf = pd.read_csv(f)
            frames.append(tempdf.dropna(how = "all"))
df_all_months = pd.concat(frames)
df_all_months.to_csv("all_data.csv", index=False)

### Import all sales data

In [37]:
df_all_sales = pd.read_csv("all_data.csv")
df_all_sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

### Add additional coloums

#### Add month

In [49]:
df_all_sales["Month"] = df_all_sales["Order Date"].str[0:2]
df_all_sales.sample(100)

ValueError: invalid literal for int() with base 10: 'Or'

## Question 1: What was the best month for sales?